.Join {
    padding: 3rem;
}

.contents {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    margin: 1rem;
}

form button {
    margin-left: 0.75rem;
    font-size: medium;
}

form button{
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    border: #000000;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    justify-content: center;
    margin: 1%;
    width: auto;
    display: block;
  }
  
  form button:hover{
    color: white;
    background-color: #000000;
    transition: 0.2s ease-in;
    cursor: pointer;
  }