:root {
  --bg-color: #1a1a21;
}
.row{
  display: flex;
  align-items: center;
}
body {
    background: url("Image/Main_bg.jpg") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  
  .colTitle {
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
  }
  
  .nav-item :hover{
      text-decoration: underline;
  }
  
  .Leaderboard {
    padding: 3rem;
  }

  #leaderboard{
    width: 50vw;
    height: 70vh; 
    border-radius: 25px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background: linear-gradient(to bottom, white, #1a1a21);
    overflow-y: auto;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr-thick{
  border: 5px solid goldenrod;
}
