:root {
  --bg-color: #1a1a21;
}
.row{
  display: flex;
  align-items: center;
}
body {
    background: url("Image/leaderboard.jpg") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  
  .colTitle {
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
  }
  
  .nav-item :hover{
      text-decoration: underline;
  }
  
  #leaderboard{
    width: 50vw;
    height: 80vh; 
    margin-left: 25%;
    padding: 1%;
    border-radius: 25px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background: linear-gradient(to bottom, white, #1a1a21);
}

.hr-thick{
  border: 5px solid goldenrod;
}

