.row {
    background-color: aqua;
}

.col {
    border: 2px solid;
    border-color: black;
}

.nav-item :hover{
    text-decoration: underline;
}

div {
    background-color: #d00;
    animation-name: cycle;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
  } 
  
  /*@keyframes cycle {
    from {background-color: #d00;}
    50% {background-color: #7f7;}
    to {background-color: #d00;} 
  }*/

  .start_buttons {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 100px;
  }

  .start_buttons button {
    margin:auto;
    background-color: #308b9c;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
    border-radius: 15px;
  }

  .start_buttons button:hover {
    background-color: #1b545e;
  }

  .start_buttons a {
    text-decoration: none;
    color: white;
  }

#leaderboard{
    width: 50vw;
    height: 80vh; 
    margin-left: 25%;
    padding: 1%;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(to bottom, #888888, #000000);
    
}
