:root {
  --bg-color: #1a1a21;
}

body {
  background: url("Image/Main_bg.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


.col {
    border: 2px solid;
    border-color: black;
}

.nav-item :hover{
    text-decoration: underline;
}


  .start_buttons {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 100px;
  }

  .start_buttons button {
    margin:auto;
    background-color: #308b9c;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem;
    border-radius: 15px;
  }

  .start_buttons button:hover {
    background-color: #1b545e;
  }

  .start_buttons a {
    text-decoration: none;
    color: white;
  }

#leaderboard{
    width: 50vw;
    height: 80vh; 
    margin-left: 25%;
    padding: 1%;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(to bottom, #888888, #000000);
    
}

.container > a{
  text-decoration: none;
  color: #000000;
  padding: 10px;
  background-color: transparent;
  border: #000000;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  justify-content: center;
  margin: 1%;
  width: auto;
  display: block;
}

.container > a:hover{
  color: white;
  background-color: #000000;
  transition: 0.4s ease-in;
  transform: scale3d(1.3, 1.3, 1.3);
}

.container > a::after{
  background-color: white;
  color: #000000;
}

.container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 100px;
  width: 40px;;
  float: left;
  margin-top: calc(2% - 10px);
  
}

h1{
  float: left;
  font-weight: bold;
  margin-top: 3%;
  margin-left: 3%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.question{
  background-color: transparent;
  float: right;
  width: 5%;
  height: 5%;
  margin-top: 3%;
  margin-right: 3%;
  border: none;
  border-radius: 500px;
}

.question > *{
  width: 100%;
  height: 100%;
}

.question > *:hover{
  transition-duration: 0.8s;
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(-40deg);}
  32.5% {transform: rotate(-45deg);}
  35% {transform: rotate(-40deg);}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(40deg);}
  82.5%  {transform: rotate(45deg);}
  85%  {transform: rotate(40deg);}
  100% {transform: rotate(0deg);}
}

