.noPadding{
    padding: 0 !important;
}

.noMargin{
    margin: 0 !important;
}

button{
    background-color: yellow;
    border: none;
}

.fitContent{
 height: 100vh;
}

.align-vertical{
    height: 100%;
}

.align-center {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8vmin;
    background-color: orange;
    text-align: center; 
    z-index: 1;
}

.align-center > *{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 4vmin;
    color: black;
}

/* Mega bra //Pontus */	
@media (max-width: 768px) {
   .noPadding{
    padding: 0 !important;
    height: 50%;
   }
}
button:hover{
    text-decoration: underline;
    font-size: large;
}

h2{
    font-size: 5vh;
}