.login{
    background-color: transparent;
    float: right;
    margin-left: 10px;
    border: none;
}

.login-popup{
    background-color: white;
    z-index: 1;
    height: 70vh;
    width: 50vw;
    top: 55vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close{
    top: 5%;
    left: 5%;
}