.login{
    background-color: transparent;
    float: right;
    margin-left: 10px;
    border: none;
}

.login-popup{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);     z-index: 1;
    height: 70vh;
    width: 50vw;
    top: 55vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 12px;
}

.close{
    width: 65px;
}

.login-popup h2 {
    text-align: center;
    margin-top: 4rem;
}

.inputs {
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.login-popup button {
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    border: #000000;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    justify-content: center;
}

.login-popup button:hover{
    color: white;
    background-color: #000000;
    transition: 0.2s ease-in;
    text-decoration: none;
    font-size: medium;
}

.inputs button {
    width: 10rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

}

.inputs input {
    border: solid 1px black;
    border-radius: 5px;
    height: 40px;
}

.inputs input:hover {
    transition: 0.15s;
    box-shadow: 0 0 5px 2px rgba(255, 97, 208, 0.863);
}